<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
		 version="3.1" 
		 >
<!-- 		 metadata-complete="true" -->
  <display-name>ManageSystem</display-name>
  		
<!--   <filter> -->
<!--   	<filter-name>EncodingFilter</filter-name> -->
<!--   	<filter-class>com.filter.EncodingFilter</filter-class>全路径 从根包开始一直到类名 -->
<!--   </filter> -->
<!--   <filter-mapping> -->
<!--   	<filter-name>EncodingFilter</filter-name> -->
<!--   	<url-pattern>/*</url-pattern> *即为过滤所有 -->
<!--   </filter-mapping> -->
  
<!-- 如果注解servlet3.0失效，请配置web.xml   -->

<!-- servlet类路径配置 -->
<!--   <servlet> -->
<!--     <servlet-name>LoginServlet</servlet-name> -->
<!--     <servlet-class>servlet.LoginServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>LoginBackstageServlet</servlet-name> -->
<!--     <servlet-class>servlet.LoginBackstageServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>LogoutServlet</servlet-name> -->
<!--     <servlet-class>servlet.LogoutServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>RegisterServlet</servlet-name> -->
<!--     <servlet-class>servlet.RegisterServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>Searchall</servlet-name> -->
<!--     <servlet-class>servlet.Searchall</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>Editall</servlet-name> -->
<!--     <servlet-class>servlet.Editall</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>DeleteServlet</servlet-name> -->
<!--     <servlet-class>servlet.DeleteServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>UpdateServlet</servlet-name> -->
<!--     <servlet-class>servlet.UpdateServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>showinfo</servlet-name> -->
<!--     <servlet-class>servlet.showinfo</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>Editinfo</servlet-name> -->
<!--     <servlet-class>servlet.Editinfo</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>UpdateNoticeServlet</servlet-name> -->
<!--     <servlet-class>servlet.UpdateNoticeServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>MessageServlet</servlet-name> -->
<!--     <servlet-class>servlet.MessageServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>MessageIndexServlet</servlet-name> -->
<!--     <servlet-class>servlet.MessageIndexServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>AddMessageServlet</servlet-name> -->
<!--     <servlet-class>servlet.AddMessageServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>PageServlet</servlet-name> -->
<!--     <servlet-class>servlet.PageServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>UpdateUserServlet</servlet-name> -->
<!--     <servlet-class>servlet.UpdateUserServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>IpServlet</servlet-name> -->
<!--     <servlet-class>servlet.IpServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>UpLoad</servlet-name> -->
<!--     <servlet-class>servlet.UpLoad</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>PortraitServlet</servlet-name> -->
<!--     <servlet-class>servlet.PortraitServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>SearchLoginLogServlet</servlet-name> -->
<!--     <servlet-class>servlet.SearchLoginLogServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>Page</servlet-name> -->
<!--     <servlet-class>servlet.Page</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>DownLoadFiles</servlet-name> -->
<!--     <servlet-class>servlet.DownLoadFiles</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>AddGarbageClassServlet</servlet-name> -->
<!--     <servlet-class>servlet.AddGarbageClassServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>GarbageClassServlet</servlet-name> -->
<!--     <servlet-class>servlet.GarbageClassServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>ArticleServlet</servlet-name> -->
<!--     <servlet-class>servlet.ArticleServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>SeeArticleServlet</servlet-name> -->
<!--     <servlet-class>servlet.SeeArticleServlet</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet> -->
<!--     <servlet-name>WriteArticleServlet</servlet-name> -->
<!--     <servlet-class>servlet.WriteArticleServlet</servlet-class> -->
<!--   </servlet> -->






<!--   servlet类映射配置 -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>LoginServlet</servlet-name> -->
<!--     <url-pattern>/LoginServlet</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>LoginBackstageServlet</servlet-name> -->
<!--     <url-pattern>/LoginBackstageServlet</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>LogoutServlet</servlet-name> -->
<!--     <url-pattern>/LogoutServlet</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>RegisterServlet</servlet-name> -->
<!--     <url-pattern>/RegisterServlet</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>Searchall</servlet-name> -->
<!--     <url-pattern>/Searchall</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>Editall</servlet-name> -->
<!--     <url-pattern>/Editall</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>DeleteServlet</servlet-name> -->
<!--     <url-pattern>/DeleteServlet</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>UpdateServlet</servlet-name> -->
<!--     <url-pattern>/UpdateServlet</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>showinfo</servlet-name> -->
<!--     <url-pattern>/showinfo</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>Editinfo</servlet-name> -->
<!--     <url-pattern>/Editinfo</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>UpdateNoticeServlet</servlet-name> -->
<!--     <url-pattern>/UpdateNoticeServlet</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>MessageServlet</servlet-name> -->
<!--     <url-pattern>/MessageServlet</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>MessageIndexServlet</servlet-name> -->
<!--     <url-pattern>/MessageIndexServlet</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>AddMessageServlet</servlet-name> -->
<!--     <url-pattern>/AddMessageServlet</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>PageServlet</servlet-name> -->
<!--     <url-pattern>/PageServlet</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>UpdateUserServlet</servlet-name> -->
<!--     <url-pattern>/UpdateUserServlet</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>IpServlet</servlet-name> -->
<!--     <url-pattern>/IpServlet</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>UpLoad</servlet-name> -->
<!--     <url-pattern>/UpLoad</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>PortraitServlet</servlet-name> -->
<!--     <url-pattern>/PortraitServlet</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>SearchLoginLogServlet</servlet-name> -->
<!--     <url-pattern>/SearchLoginLogServlet</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>Page</servlet-name> -->
<!--     <url-pattern>/Page</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>DownLoadFiles</servlet-name> -->
<!--     <url-pattern>/DownLoadFiles</url-pattern> -->
<!--   </servlet-mapping> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>AddGarbageClassServlet</servlet-name> -->
<!--     <url-pattern>/AddGarbageClassServlet</url-pattern> -->
<!--   </servlet-mapping> -->
<!--     <servlet-mapping> -->
<!--     <servlet-name>GarbageClassServlet</servlet-name> -->
<!--     <url-pattern>/GarbageClassServlet</url-pattern> -->
<!--   </servlet-mapping> -->
<!--     <servlet-mapping> -->
<!--     <servlet-name>ArticleServlet</servlet-name> -->
<!--     <url-pattern>/ArticleServlet</url-pattern> -->
<!--   </servlet-mapping> --><!--     <servlet-mapping> -->
<!--     <servlet-name>SeeArticleServlet</servlet-name> -->
<!--     <url-pattern>/SeeArticleServlet</url-pattern> -->
<!--   </servlet-mapping> --><!--     <servlet-mapping> -->
<!--     <servlet-name>WriteArticleServlet</servlet-name> -->
<!--     <url-pattern>/WriteArticleServlet</url-pattern> -->
<!--   </servlet-mapping> -->




	<jsp-config>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
    		<taglib-location>/WEB-INF/c.tld</taglib-location>
		</taglib>	
	</jsp-config>

  
   <welcome-file-list><!--默认首地址 -->
    <welcome-file>ChairC_Index.jsp</welcome-file>
    <welcome-file>ChairC_Index.html</welcome-file>
    <welcome-file>ChairC_Index.htm</welcome-file>
  </welcome-file-list>
<!-- 其实都已经servlet3.0版本以上了，我还用web.xml配置，真的懒得改了！嗝儿！ -->
</web-app>